<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>To Do List{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home.css')}}">
    {% endblock %}
</head>

<body>
    <div class="container-fluid content_body" id='conCat'>
        {% block conCat %}
        <div class='row'>
            <div class="col-12">
                <h1 class='centerTitle'>To Do List</h1>
            </div>
        </div>
        <div class='row'>
            <div class="col-12">
                    <div class="input-group customStyle">
                        <select name='days' class='custom-select dropdown' type='submit' required>
                            <option value='{{today}}'>{{today}}</option>
                            {% for i in result %}
                            <option class='days' value="{{i}}" {% if i==theDate %} selected {% endif %}>{{i}}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-prepend">
                            <button class='shiFt' type="button" onclick="ajaxGet()" value=">">></button></div>
                    </div>
            </div>
        </div>
        {% endblock %}
        {% block content %}{% endblock %}
        {% if homeLanding %}
        {% for i in homeLanding %}
        <div class='row'>
            <div class="col-4">
                <button class="btn btn-danger remove" onclick="ajaxRemove(event)">-</button>
            </div>
            <div class="col-8">{% if i|length > 50 %}
                <textarea class='changeBgc' name='embedded' cols="50" rows="3" disabled>{{i}}</textarea>
                {% else %}<textarea class='changeBgc' name='embedded' cols="{{i|length}}" rows="2" disabled>{{i}}</textarea>{% endif %}</div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% block footer %}
    <div class='extraSpace'></div>
    <footer class="footer">
        <div class='container'><span class='sig'>&#169; 2018-{{year}} Osarodion Irabor</span></div>
    </footer>
    <script src="{{url_for('static',filename='js/get.js')}}"></script>
    {% endblock %}
    {% block cool %}
    <script src="{{url_for('static',filename='js/home.js')}}"></script>

    {% endblock %}
</body>


</html>
